* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #817e7e;
    color: #e9e2e2;
}

/* header */
#header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #555;
}

#navbar {
    background: #000;
    padding: 15px 40px;
}

#navbar .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#navbar a {
    color: white;
    text-decoration: none;
}

#navbar a:hover {
    color: #90aad3;
}

/* main*/
/* bienvenida */
.bienvenida {
    text-align: center;
    padding: 50px 20px;
}

.bienvenida .imagen1 {
    width: 400px;
    height: auto;
    border-radius: 8px;
}

.bienvenida h1{
    font-size: 45px;
}

.bienvenida h2 {
    font-size: 35px;
    margin: 15px 0;
}

.bienvenida p {
    font-size: 18px;
    margin-bottom: 30px;
}

.boton {
    display: inline-block;
    background-color: #111;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 5px;
}

.boton:hover {
    background-color: #81abc0;
}

/* catalogo */
.catalogo {
    padding: 50px 20px;
    text-align: center;
}

.catalogo h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

.productos {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.reloj {
    background-color: rgb(99, 144, 176);
    width: 280px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.imagen-reloj {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

.reloj h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.reloj p {
    color: #f0f0f0;
    margin-bottom: 15px;
}

.reloj strong {
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
}

.reloj button {
    border: none;
    background-color: #111;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.reloj button:hover {
    background-color: #494a4a;
}

/* nosotros */
.sobre-nosotros {
    padding: 150px;
    background-color: #000000;
    text-align: center;
    margin-top: 40px;
}

.sobre-nosotros h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #ffffff;
}

.contenido-nosotros {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contenido-nosotros p {
    font-size: 18px;
    line-height: 1.6;
    color: #f0f0f0;
}

/*contacto */
.contacto {
    padding: 120px;
    background-color: #555555;
    text-align: center;
}

.contacto h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #ffffff;
}

.contenido-contacto {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contenido-contacto p {
    font-size: 18px;
    line-height: 1.6;
    color: #f0f0f0;
}

.info-contacto strong {
    color: #90aad3;
}

/* footer*/
footer {
    background-color: #111;
    text-align: center;
    padding: 50px;
    margin-top: 40px;
}